#pierwszy
{
  float:left;
  margin-left:20px;
}

#drugi
{
  
  float:left;
  margin-left:20px;
}

#trzeci
{
  
  float:left;
  margin-left:20px;
}

#czwarty
{
  
  float:left;
  margin-left:20px;
  
}

